
<div class="owl-item" style="width: 390px;">
    <div class="item">
        <div class="quoto">
            <div class="para-wrapper" style="max-height:150px; min-height:150px; overflow:auto;">
                <p>
                    “@ViewBag.Message”
                </p>
            </div>

            <div class="overlay clearfix">
                <span class="profile-info"><strong>@ViewBag.Name</strong></span>
            </div>
        </div>
    </div>
</div>